<title>TinyApp</title>
<style>
    .longURL {
        color:blue;
    }
    .delButton {
        -webkit-border-radius: 11;
        -moz-border-radius: 11;
        border-radius: 11px;
        font-family: Arial;
        color: #000;
        font-size: 15px;
        background: #fafafa;
        padding: 10px;
        border: solid #dde3e6 1px;
        text-decoration: none;
        display: inline-flex;
        align-items: center; 
        text-align: right; 
    }
    body {
        font-size:20px;
        /* padding:50px; */
        margin:150px;
    }
</style>

<% if (!username) { %>
    <form action="/login" method="POST" style="padding: 50px">
        <label for="username">Enter your user name:</label>
        <input id="username" type="text" name="username" style="width: 300px">
        <input type="submit" value="Submit">
    </form>
<% } else { %>
    <form action="/logout" method="POST" style="padding: 50px">
        <label for="username" ><%=username%>:</label>
        <!-- send back the user name in case /logout handler needs it -->
        <input id="username" value="<%=username%>" name="username" type="hidden">
        <input type="submit" value="Log Out">
    </form>
<%}%>
    