<title>TinyApp</title>
<style>
    .longURL {
        color:blue;
    }
    .delButton {
        -webkit-border-radius: 11;
        -moz-border-radius: 11;
        border-radius: 11px;
        font-family: Arial;
        color: #000;
        font-size: 15px;
        background: #fafafa;
        padding: 10px;
        border: solid #dde3e6 1px;
        text-decoration: none;
        display: inline-flex;
        align-items: center; 
        text-align: right; 
    }
</style>